.highlight {
	color: #fff;
	background: #000000;
}

.highlight .code .comment,
.highlight .code .quote {
	color: #7285b7;
}

.highlight .code .variable,
.highlight .code .template-variable,
.highlight .code .tag,
.highlight .code .name,
.highlight .code .selector-id,
.highlight .code .selector-class,
.highlight .code .regexp,
.highlight .code .deletion {
	color: #ff9da4;
}

.highlight .code .number,
.highlight .code .built_in,
.highlight .code .builtin-name,
.highlight .code .literal,
.highlight .code .type,
.highlight .code .params,
.highlight .code .meta,
.highlight .code .link {
	color: #ffc58f;
}

.highlight .code .attribute {
	color: #ffeead;
}

.highlight .code .string,
.highlight .code .symbol,
.highlight .code .bullet,
.highlight .code .addition {
	color: #d1f1a9;
}

.highlight .code .title,
.highlight .code .section {
	color: #bbdaff;
}

.highlight .code .keyword,
.highlight .code .selector-tag {
	color: #ebbbff;
}

.highlight .code .emphasis {
	font-style: italic;
}

.highlight .code .strong {
	font-weight: bold;
}

pre code {
  display: block;
  background: #1d1f21;
  color: #c5c8c6;
  font-family: Menlo, Monaco, Consolas, monospace;
  line-height: 1.5;
  border-radius: 0.4em;
  padding: 10px;
}
