article
  .container
    .row
      // Responsive Images
      img
        max-width 100% !important
        height auto
        display inline-block
      // Video Containers
      .video-container
        position relative
        padding-bottom 56.25%
        padding-top 30px
        height 0
        overflow hidden
        iframe, object, embed
          position absolute
          top 0
          left 0
          width 100%
          height 100%
          margin-top 0
      blockquote
        font-style italic
        font-family font-serif
        font-size 1.2em
        padding 0 30px 15px
        text-align center
        footer
          border-top none
          font-size 0.8em
          line-height 1
          margin 20px 0 0
          padding-top 0
          cite
            &:before
              content '—'
              color #ccc
              padding 0 0.5em

      .pullquote
        float right
        border none
        padding 0
        margin 1em 0 0.5em 1.5em
        text-align left
        width 45%
        font-size 1.5em
        &.left
          float left
h1, h2
    margin-top 50px
    margin-bottom 20px
figure.highlight
    border-radius 0.4em
    background #222222
    border-spacing 0

  // Code Box
  pre
    border none
    padding-left 20px
    margin 0
    background none
    color #cccccc
    font-family Monaco
    font-size 75%
    /*font-family Monospace*/

  table
    margin-top 0
    border-spacing 0

    .code
      padding 5px
      padding-left 10px
      border-left 1px solid #333333
      color #666

    .line
      height: 22px

    .line.marked
      background: #d6d6d6

