<!DOCTYPE html>
<html lang="en">
    <%- partial('partial/head') %>
    <%- partial('partial/nav') %>
    <body>
    <main>
            <%- body %>
    </main>
    <%- partial('partial/footer') %>
    </body>
</html>
