<div class="about-title">
    <h3>About Fabian Beuke</h3>
</div>
<div class="about-subtitle">Computer Scientist, Programmer, GNU/Linux enthusiast</div>
<div class="about-hr"><hr></div>
<aside>
    <a href="https://beuke.org/"><img src="/images/fabian_beuke.jpg" width="260"></a>
</aside>
<p>I'm a software developer with a master degree in computer science. I'm interested in functional programming, category theory and theoretical physics.</p>
Some quotes I like:
<ul>
    <li>There are two hard problems in computer science: cache invalidation, naming things, and off-by-one errors. - Phil Karlton</li>
    <li>Everything should be made as simple as possible, but no simpler. - Albert Einstein</li>
    <li>But can it run Crysis?</li>
    <li>I disapprove of what you say, but I will defend to the death your right to say it. - The Friends of Voltaire, Hall</li>
</ul>
<h3>Contact</h3>
<ul>
    <li>E-Mail <a href="mailto:mail@beuke.org">mail@beuke.org</a></li>
    <li>PGP/GPG <a target="_blank" rel="noopener" href="//pgp.mit.edu/pks/lookup?op=get&search=0xF5B3AFA2E0914083"> 0xE0914083</a></li>
    <li>LinkedIn <a href="https://de.linkedin.com/in/fabian-beuke">@FabianBeuke</a></li>
    <li>GitHub: <a href="https://github.com/madnight">madnight</a></li>
    <li>Languages: English, German</li>
</ul>
