script(src="//cdn.bootcss.com/jquery/1.11.2/jquery.min.js")
script(src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js")
script(src=url_for("/js/main.js"))

//- if theme.highlight.enable

include google_analytics
