mixin post_meta(date, tags, content)
    p.post-meta Posted on #{full_date(date, "MMM D YYYY")}
      if tags
        - tags.each(function(tag) {
            = ' · '
            a.tag.post-meta(href=url_for(tag.path))= tag.name
        - })
      |&nbsp;·&nbsp;
      span= readingTime(content, 'min read')


