<%
    var title = 'About';
%>

<!-- Page Header -->
<!-- Set your background image for this header in the theme's configuration: index_cover -->
<header class="intro-header" style="background-image: url('https://i.imgur.com/dzWnipV.png')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1><%- title %></h1>
                </div>
            </div>
        </div>
    </div>
</header>
        <div class="container">
        <div class="page-header">
            <h1>Fabian Beuke<br/>
            <small>Computer Scientist, Programmer, GNU/Linux enthusiast</small></h1>
            </div>
        <div class="row">
        <div class="col-sm-3">
        <h3></h3>
            <a href="https://beuke.org/">
            <img src="https://i.imgur.com/EAMLHvk.jpg" width="210" height="300" class="img-rounded"/></a>
        </div>
        <div class="col-sm-4">
        <h3>Contact</h3>
            <dl>
            <dt>E-Mail</dt><dd>
            <i class="fa fa-envelope"></i>
            <a href="mailto:mail@beuke.org">mail@beuke.org</a>
            <dt>PGP/GPG (E-Mail encryption)</dt><dd>
            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
            <a href="//pgp.mit.edu/pks/lookup?op=get&search=0xF5B3AFA2E0914083">0xE0914083</a></small></dd>
            <dt>Facebook</dt><dd>
            <i class="fa fa-facebook-square"></i>
            <a href="https://www.facebook.com/fabian.beuke">@FabianBeuke</a></dd>
            <dt>Networks</dt><dd>
             <i class="fa fa-github" aria-hidden="true"></i>
            <a href="https://github.com/madnight">GitHub</a>
            <dt>Languages spoken</dt><dd>
            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> German, English</dd>
            </dl>
        </div>
        <div class="col-sm-5">
            <h3>About Fabian Beuke</h3>
            <p>Fabian Beuke is writing his Masterthesis in Computer Science. He develops
            and administers Linux-based infrastructures.</p>
            <p>In the past years Fabian studied Computer Science at the University of Bremen.</p>
            <p>This website is created with the static blog generator hexo and is hosted as
            <a href="https://github.com/madnight/madnight.github.io">Github page.</a>
        </div>
        </div>
        </div>
