<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=10.0">
    <meta name="author" content="Fabian Beuke">
    <link href="/fav.png" as="image" onload="this.rel='shortcut icon'" sizes="45x48">
    <noscript>
        <link rel="shortcut icon" sizes="45x48" href="/fav.png">
    </noscript>
    <link rel="icon" href="/fav.png" onload="if(media!='all')media='all'">
    <noscript>
        <link rel="icon" href="/fav.png">
    </noscript>
    <title>beuke.org</title>
    <meta name="description" content="A personal blog about computer science and theoretical physics.">
    <link rel="alternate" type="application/rss+xml" title="beuke.org" href="/atom.xml" onload="if(media!='all')media='all'">
    <noscript>
        <link rel="alternate" type="application/rss+xml" title="beuke.org" href="/atom.xml">
    </noscript>
    <link rel="preload" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.9/katex.min.css" as="style">
    <link rel="stylesheet" href="/css/simple.css/simple.min.css" as="style">
    <link rel="stylesheet" href="/css/main.css" onload="if(media!='all')media='all'">
    <noscript>
        <link rel="stylesheet" href="/css/main.css">
    </noscript>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.9/katex.min.css" media="none" onload="if(media!='all')media='all'">
    <noscript>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.9/katex.min.css">
    </noscript>
    <link rel="stylesheet" href="/css/light.css" media="(prefers-color-scheme: light)" />
    <link rel="stylesheet" href="/css/dark.css" media="(prefers-color-scheme: dark)" />
    <!--<script src="https://googlechromelabs.github.io/dark-mode-toggle/src/dark-mode-toggle-stylesheets-loader.js"></script>-->
    <script type="module" src="https://unpkg.com/dark-mode-toggle"></script>
    <script defer type="text/javascript">
        document.addEventListener("DOMContentLoaded", function (event)
        {
            //- fix for single quotes in pre blocks
            document.body.innerHTML = document.body.innerHTML.replaceAll('', '\'');
        });
    </script>
    <meta name="generator" content="Hexo 6.3.0">
</head>

