<header>
    <nav>
        <% Object.keys(theme.navbarLinks).forEach(function(n){ %>
        <a href="<%= theme.navbarLinks[n] %>"> <%= n %></a>
        <% }); %>
    </nav>
<div class="title-con">
    <div class="title-container">
        <h1>beuke.org</h1>
        <dark-mode-toggle
          id="dark-mode-toggle-1"
          appearance="toggle"
        ></dark-mode-toggle>
    </div>
</div>
    <h2>A personal blog exploring computer science and theoretical physics</h2>
</header>

