extends partial/base

block header
    header.header-section
        .intro-header.no-img
            .page-heading
                h1!= page.title
                if page.subtitle
                    hr.small
                    span.page-subheading!= page.subtitle

block content
    .container
      .page-header
        h1
          | Fabian Beuke
          br
          small Computer Scientist, Programmer, GNU/Linux enthusiast
      .row
        .col-sm-4.col-md-3.col-lg-3
            h3
            a(href='https://beuke.org/') 
              img.img-rounded(src='/images/fabian_beuke.jpg', width='250', height='260')
        .col-sm-3.col-md-4.col-lg-4
                  h3 Contact
                  dl
                    dt E-Mail
                    dd
                      i.fa.fa-envelope
                        a(href='mailto:mail@beuke.org') &nbsp;mail@beuke.org
                      dt PGP/GPG (E-Mail encryption)
                      dd
                        span.glyphicon.glyphicon-lock(aria-hidden='true')
                        a(href='//pgp.mit.edu/pks/lookup?op=get&search=0xF5B3AFA2E0914083') &nbsp;0xE0914083
                      dt Facebook
                      dd
                        i.fa.fa-facebook-square
                        a(href='https://www.facebook.com/fabian.beuke') &nbsp;@FabianBeuke
                      dt Networks
                      dd
                        i.fa.fa-github(aria-hidden='true')
                        a(href='https://github.com/madnight') &nbsp;GitHub
                        dt Languages spoken
                        dd
                          span.glyphicon.glyphicon-flag(aria-hidden='true')
                          |  German, English
        .col-sm-5.col-md-5.col-lg-5
            h3 About Fabian Beuke
            p
              | I'm a software developer with a master degree in computer science. I'm interested in functional programming, category theory and theoretical physics.
            | Some quotes I like:
            ul
             li
               i
                 | There are two hard problems in computer science: cache invalidation, naming things, and off-by-one errors.
             li
               i
                 | Everything should be made as simple as possible, but no simpler.
             li
               i
                 | But can it run Crysis?
